<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -2.5%;
    "
  >
    SOFTWARE-EMBEDDED TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a routerLink="/custom_program" style="color: green;text-decoration: none;">
        Custom Programs</a
      >
      <a routerLink="/custom_program" style="color: green;text-decoration: none;">
        > SOFTWARE-EMD</a
      >
      <a routerLink="/intermediate-itemb" style="color: green;text-decoration: none;">
        : Intermediate</a
      >
    </h4>
  </div>
  <table class="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a4">HANDS-ON</th>
      <th>LINK</th>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> DevOps Practitioner </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            DevOps CI/CD fundamentals, Introduction to Cloud & Virtualization,
            Infrastructure as Code, Terraform, HCI Scripts, Terraform Commands,
            Terraform Variables, Terraform State, Workspace, Modules,
            Integration with Cloud, Ansible, Maven, Gradle, ANT, Dockers, Intro
            to Dockerfile, JFrog, Jenkins, SDLC and CI/CD pipeline security
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>7</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> DevSecOps Essentials </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Linux and Shell Script Essentials, Cloud Computing Fundamentals, AWS
            Fundamentals, Essentials: AWS Cloud Concepts, AWS Core Services, AWS
            Security, AWS Pricing and Support, Azure Fundamentals, architectural
            components, compute and networking services, storage services, Azure
            identity, access, and security, cost management, manage and deploy
            Azure resources, monitoring tools in Azure, DevOps Fundamentals,
            Basics: Terraform, Pulumi, Ansible, Jenkins, Containerization,
            Kubernetes and Monitoring tools
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>8</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Python </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            File operations, Modules/Packages, Definitions, lambda functions,
            memory management, Garbage collector, Database Operations, Regular
            Expressions, Exception Handler, XML and JSON Operation, Handling
            Pandas, Object Oriented Programming, Python Decorators, Python
            Generators, Co-Routine in Python, Implement REST API using Python,
            Intro to Blocking and Non-Blocking IO, Network Programming, Python
            Threads, GUI Development using PyQt
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
  </table>
</div>
