<div id="background">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>TESTING COURSES LEVEL</h1>
  <div id="box">
    <button id="box1" (click)="basict()">BASIC</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="intermediatet()">INTERMEDIATE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="advancet()">ADVANCE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="expertt()">EXPERT</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
