.background {
  background-image: url("../../../assets/imges/srikars.png");
  background-size: cover;
  width: 99.6vw;
  height: 23vh;
}
#a1 {
  margin-top: 3.5%;
  margin-left: 0.5%;
  background-color: rgb(78, 136, 78);
}
.b1 {
  margin-top: -6%;
  margin-left: 81%;
  font-weight: bolder;
  text-decoration: none;
}
.a {
  margin-top: -4.8%;
  margin-left: 4.5%;
  size: 3%;
}
#head {
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -3%;
}
#txt {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
