<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1 id="head">TESTING-INTERMEDIATE TOPICS</h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->

  <button
    routerLink=""
    mat-raised-button
    color="warn"
    class="b1"
    style="color: black"
  >
    LOGOUT
  </button>

  <div class="a">
    <h4 id="txt">
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
        ><u>Custom Programs</u></a
      >
      &gt;
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        <u>TESTING</u></a
      >
      &gt;
      <a
        routerLink="/intermediatet"
        style="color: green; text-decoration: none"
      >
        <u>Intermediate</u></a
      >
    </h4>
  </div>
</div>
