<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -3%;
    "
  >
    PROCESS-INTERMEDIATE TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
        >Custom Programs &gt;</a
      >
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        PROCESS</a
      >
      <a
        routerLink="/intermediatep"
        style="color: green; text-decoration: none"
      >
        : Intermediate</a
      >
    </h4>
  </div>
</div>
