<div id="background">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1 >IT COURSES LEVEL</h1>
  <div id="box">
    <button id="box1" (click)="basic()">BASIC</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="intermediate()">INTERMEDIATE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="advance()">ADVANCE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="expert()">EXPERT</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
