<div class="bg">
  <ul class="navbar">
    <li><a routerLink="/about">&nbsp;&nbsp;&nbsp;ABOUT T-hub&nbsp; |</a></li>
    <li><a routerLink="/flashnews">REFERENCE DOCUMENTS &nbsp;|</a></li>
    <li><a routerLink="/newsfeed">NEWS FEED &nbsp; | </a></li>
    <li><a routerLink="/location">LOCATION SPOC &nbsp; | </a></li>
    <li><a routerLink="/faq">FAQ &nbsp; | </a></li>
    <li>
      <button mat-raised-button color="warn" class="b1">
        <a routerLink="">LOGOUT</a>
      </button>
    </li>
  </ul>
  <a routerLink="/custom"
    ><img class="book" src="../../assets/imges/BOOK.png" alt="" width="10%"
  /></a>
</div>
