<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -3%;
    "
  >
    EMBEDDED-BASIC TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        Custom Program
      </a>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        &gt; EMBEDDED
      </a>
      <a routerLink="/basic-e" style="color: green; text-decoration: none"
        >: Basic</a
      >
    </h4>
  </div>
  <table CLASS="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a3">HANDS-ON</th>
      <th>LINK</th>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> AUTOSAR </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            AUTOSAR Overview, System Services, Applications and RTE, IO Stack
            and CDD, Communication Stack 1 –CAN, Communication Stack 2 –LIN,
            Communication Stack 3 –Ethernet, Memory Stack, Diagnostic stack
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>20</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Adaptive AUTOSAR </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Overview & Methodology; AUTOSAR Adaptive Application, Adaptive
            AUTOSAR start-up behavior, Service Oriented Architecture,
            Communication Management, Manifest, Diagnostics/config Management,
            Introduction AUTOSAR Adaptive in Practice, Introduction to Adaptive
            Autosar stack, Execution Management Exercise
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>3</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> LINUX Application Development </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Introduction to the Linux Kernel, Processes on Linux and execution,
            signaling mechanism, User Session Handling, Clocks and Timers,
            thread basics, process memory layout, System Information via procfs,
            Debugging Using gdb,
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>4</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              >Essentials C++ for C Programmers and RCG
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Data types overview, Storage class specifiers, Classes, Objects and
            class members overview, Operator overloading, References and
            Pointers, OOPS Concept, Inheritance, Polymorphism, Standard Template
            Library (STL), Exceptions, Lambda expressions, In-class initializers
            for non-static data members, Concurrency support and containers
            library, OS Concepts, Basic compilation overview
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Essential C++ For C Programmers </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            C++ Introduction, C++ Development Environment, Variables And Scope,
            Data Hiding And Evolution From Struct To Class, Code Reusability
            Using The Inheritance, Building Polymorphic Data Structures Using
            Runtime Polymorphism, References And Pointers, Const Correctness,
            Exceptions And Program Correctness, Subtleties Of Object-Oriented
            Programming In C++, C++ Memory Management, Parametric Polymorphism
            Using Templates
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              >Sustainable Software Development and Best Practices with Modern
              C++
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Programming Paradigms, Principles to follow, Basics of clean C++,
            Object Oriented Thinking, Functional programming, design patterns in
            Modern C++, software extensibility, Best Practices
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>MODERN C++ 11/14 </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Inheritance and Runtime Polymorphism, Exception Handling, File
            Handling, C++11 language Features, Templates, Classes,
            Initialization, Range-based for nullptr, enums, literals,
            static_assert, noexcept, C++11 Library Features: Smart Classes,
            Modern Concurrency library, C++14 library features, Explicit
            Conversion Operators, Inline Namespaces
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
  </table>
</div>
