<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -2.5%;
    "
  >
    SOFTWARE-EMBEDDED TOPICS
  </h1>
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>

  <div class="a">
    <h4>
      <a routerLink="/custom_program" style="color: green;text-decoration: none;">
        Custom Programs</a
      >
      <a routerLink="/custom_program" style="color: green;text-decoration: none;">
        > SOFTWARE-EMD</a
      >
      <a routerLink="/basic-itemb" style="color: green;text-decoration: none;"> : Basic</a>
    </h4>
  </div>
  <table class="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a4">HANDS-ON</th>
      <th>LINK</th>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> UML and EA </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Data modelling overview, UML and data modelling, attributes, views
            of data models, UML diagrams, redundancies
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>2</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
  </table>
</div>
