th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 40%;
}
td {
  width: 10%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.content {
  padding: 1px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.hide {
  display: none;
}
/* EXPANSION PANEL MARGIN ADJUSTMENT */
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
/* EXPANSION PANEL WIDTH AND LENGTH ADJUSTMENTS */
mat-expansion-panel {
  width: 100%;
  background-color: white;
}
/* EXPANSION PANEL TITLE SIZE ADJUSTMENTS */
mat-panel-title {
  color: black;
}
/* TABLE HEADER STYLINGS */
.a2 {
  width: 45%;
}
.a3 {
  width: 20%;
}
.a4 {
  width: 30%;
}
p {
  color: rgb(122, 13, 238);
}
.background {
  background-image: url("../../../assets/imges/srikars.png");
  background-size: cover;
  width: 99.6vw;
  height: 23vh;
}
.table {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3.8%;
}
.a {
  margin-top: -5%;
  margin-left: 4.3%;
}

#a1 {
  margin-top: 3.5%;
  margin-left: 0.5%;
  background-color: rgb(78, 136, 78);
}
.b1 {
  margin-top: -6%;
  margin-left: 81%;
  font-weight: bolder;
  text-decoration: none;
}

#head {
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -3%;
}

#txt {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
