<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -3%;
    "
  >
    SOFTWARE-EMBEDDED TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        Custom Programs</a
      >
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        > SOFTWARE-EMD</a
      >
      <a routerLink="/expert" style="color: green; text-decoration: none">
        : Advance</a
      >
    </h4>
  </div>
  <table class="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a4">HANDS-ON</th>
      <th>LINK</th>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> DevOps - Azure Containerization </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Azure core architecture, Azure compute and networking services,
            Azure storage services, Azure identity, access, and security, cost
            management in Azure, manage and deploy Azure resources, monitoring
            tools, Ansible, Dockers, Kubernetes Advanced, Kubernetes as a
            service, Namespaces and Pods, Application Lifecycle Management,
            Kubernetes Schedulings, Storage Management, ConfigMaps and Secrets,
            Kubernetes Controllers, security, Helm
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>7</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> DevOps - Ops Focused Role </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Configuration Management using Ansible, Continuous Deployment:
            Containerization with Docker, Introduction to Continuous Monitoring
            using Nagios
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>7</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> DevOps - Developer Focused </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Introduction to Software Version Control, Continuous Integration
            Using Jenkins, Continuous Testing with Maven, Introduction to
            SonarQube
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>7</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Dot Net Core Framework </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Dot Net Core overview, Middleware & Dependency Injection, Advanced
            .NET Core, Testing your code (using Xunit), MVC Design Patterns,
            Razor Views, Creating Models, Model Validation and Data Annotation,
            creating repository, Web API, Authentication and Authorization,
            Security and Deployment
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>6</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
  </table>
</div>
