<div id="background">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>IT-EMBEDDED COURSES LEVEL</h1>
  <div id="box">
    <button id="box1" (click)="basicitemb()">BASIC</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="intermediateitemb()">INTERMEDIATE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="advanceitemb()">ADVANCE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="expertitemb()">EXPERT</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
