<div id="background">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>PROCESS COURSES LEVEL</h1>
  <div id="box">
    <button id="box1" (click)="basicp()">BASIC</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="intermediatep()">INTERMEDIATE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="advancep()">ADVANCE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="expertp()">EXPERT</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
