<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -3%;
    "
  >
    SOFTWARE-BASIC TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a
        routerLink="/custom_program"
        style="
          color: green;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-weight: bold;
          text-decoration: none;
        "
        id="p1"
      >
        Custom Programs&nbsp;></a
      >
      <a
        routerLink="/custom_program"
        style="
          color: green;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-weight: bold;
          text-decoration: none;
        "
      >
        SOFTWARE&nbsp;></a
      >
      <a
        routerLink="/basic"
        style="
          color: green;
          font-size: medium;
          font-weight: bold;
          text-decoration: none;
        "
      >
        : Basic</a
      >
    </h4>
  </div>
  <table id="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a3">HANDS-ON</th>
      <th class="a3">LINK</th>
      <!-- <th class="a3">bosch</th> -->
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cloud Practitioner(Foundation) - Training + Certification
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Introduction to the AWS Cloud, Getting started with the cloud,
            Building in the cloud, Security, Pricing models and cloud
            application support, Architecture
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>1</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Azure Fundamentals (Foundation) - Training + Certification
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Cloud computing, benefits of using cloud services, cloud service
            types, core architectural components, compute and networking
            services, storage services, identity, access, and security, cost
            management, features and tools for governance and compliance,
            features and tools for managing and deploying Azure resources,
            monitoring tools
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>1</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> JAVA Database JEE </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Core Java, Oracle SQL, JDBC, HTML, CSS, Java Script, JEE & JSP with
            Unit Testing, Servlet with Unit Testing
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>10</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> SAP ABAP on S4 HANA </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Intro to SAP, Data Dictionary + DDIC, Basic ABAP, structures,
            Internal Tables, Modularization, Intro to ABAP Objects, ABAP
            Business Application Programming Interface (BAPI), ABAP
            Enhancements, SAP HANA, Adobe Forms, SAP Smart Forms, BRF+, SAP
            Fiori
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>25</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> SAP-BPA </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            SAP BTP & SAP Build Process Automation, System Requirements,
            configuration, SAP Build Process Automation, SAP Workflow Management
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>5</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> SAP TM </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            SAP TM Industry Overview, SAP TM Deployment Option, SAP TM
            Functional Overview, SAP TM Architecture, User Interface
            Technologies, Frameworks and Tools, SAP TM Enterprise Structure,
            Overview on Order Management Process, Triggering transportation
            requirement, Logistics integration profile, Transportation planning,
            strategies and profiles, Manual planning vs automatic planning,
            Carrier selection process, Overview on subcontracting process,
            Transportation cost distribution, Transportation Execution Process,
            Carrier Collaboration Option, Transportation Planning and Settlement
            for LSP Scenario, Integration of SAP TM with EWM including TU
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>7</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> SAP ABAP On HANA Development </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            SAP Hybris overview, Application Life Cycle Framework for Commerce,
            B2B, Bundling Cart and Checkout, Subscriptions and Entitlements,
            Promotions and Coupons, Business Engine and Workflow Collaboration,
            Catalogs and Synchronization, Commerce Customization using Smart
            Edit, Navigation Node on Store Front, Intro to Product Cockpit,
            Intro to YForms, Media Management, Integrations Overview and Tools,
            Automate Synchronization using Cron Jobs, Intro to Data Validation,
            Reporting, B2C Accelerator, Back Office, Business and Administration
            Tools, China Accelerator
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>50</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> SAP Hybris Developer </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            SAP Hybris overview, Application Life Cycle Framework for Commerce,
            B2B, Bundling Cart and Checkout, Subscriptions and Entitlements,
            Promotions and Coupons, Business Engine and Workflow Collaboration,
            Catalogs and Synchronization, Commerce Customization using Smart
            Edit, Navigation Node on Store Front, Intro to Product Cockpit,
            Intro to YForms, Media Management, Integrations Overview and Tools,
            Automate Synchronization using Cron Jobs, Intro to Data Validation,
            Reporting, B2C Accelerator, Back Office, Business and Administration
            Tools, China Accelerator
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>52</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>
  </table>
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
