.background {
  background-image: url("../../../assets/imges/srikars.png");
  background-size: cover;
  width: 99.6vw;
  height: 23vh;
}
.a {
  margin-top: -4.8%;
  margin-left: 4.5%;
  size: 3%;
}
#a1 {
  margin-top: 3.5%;
  margin-left: 0.5%;
  background-color: rgb(78, 136, 78);
}
.b1 {
  margin-top: -6%;
  margin-left: 81%;
  font-weight: bolder;
  text-decoration: none;
}
