<div class="background">
  <br />
  <button mat-mini-fab id="a1" routerLink="/custom">
    <mat-icon>home</mat-icon>
  </button>
  <h1
    style="
      text-align: center;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -3%;
    "
  >
    ELECTRICAL-ADVANCE TOPICS
  </h1>
  <!-- CHANGE THE HOME BUTTON ROUTING HERE -->
  <li>
    <button mat-raised-button color="warn" class="b1">
      <a routerLink="" style="text-decoration: none; color: black">LOGOUT</a>
    </button>
  </li>
  <div class="a">
    <h4>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        Custom Programs
      </a>
      <a
        routerLink="/custom_program"
        style="color: green; text-decoration: none"
      >
        &gt; EMBEDDED
      </a>
      <a routerLink="/advance-e" style="color: green; text-decoration: none"
        >&gt; Advance</a
      >
    </h4>
  </div>
  <table class="table">
    <tr>
      <th class="a2">TOPICS</th>
      <th class="a3">DURATION IN DAYS</th>
      <th class="a3">HANDS-ON</th>
      <th>LINK</th>
    </tr>
    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Embedded Linux </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Introduction to OS and Linux Distributions, User interfaces, Boot
            process, liveCD images, Linux File System, Permissions users,
            groups, Text editor using GUI and Terminal, Shell script basics,
            Conditional executions, iterations, expressions, Piping,
            redirections, stream processing, text processing, C programming
            using GCC tools, Compiler and Linker options, Debugging using GDB,
            Process and threads, user space and kernel space, IDE settings to
            build Linux kernel, Linux Trace Tool
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>10</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>C++ (STL) </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Compile-time polymorphism with minimal memory and performance loss,
            callback Mechanism, use case and scenario, Function pointers, Object
            methods, Function classes, Lambda functions, Template and Template
            class: Template Functions, Function parameter detection and
            specialization, Advanced Template: Template constraints, Template
            specialization, Curiously Recurring Template Pattern, Class template
            argument deduction, Constraints and concepts
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>3</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
    <tr class="link">
      <td>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>C++ </mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            Introduction C++ Performance, Real-Time Specifics, Device
            Interaction, Functions and Operators, Exception Handling, Templates,
            The Standard Library, Software Structuring, Target Specific
            Considerations, Concurrency, Interrupts, Smart pointers, Memory
            management, Standard type traits, Lambda expressions, Intro to C++
            11 and C++ 14
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </td>
      <!-- END -->
      <td>10</td>
      <td>TBC</td>
      <td class="link"><a href="">link</a></td>
    </tr>

    <!-- FOR EXPANSION PANEL CODE STARTING AND ENDING -->
    <!-- START -->
  </table>
</div>
