<div class="img">
  <br /><br /><br /><br />

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form>
        <h1 class="l1">WELCOME TO ETT - TECHNOLOGY ACADEMY</h1>

        <br />

        <img
          src="../../assets/imges/T-HUB.png"
          style="margin-left: 60px; margin-top: 60px"
        />
      </form>
    </div>

    <div class="login">
      <form>
        <br />
        <button
          mat-raised-button
          color="accent"
          routerLink="/home"
          style="
            margin-left: 39%;
            height: 40px;
            width: 150px;
            align-content: center;
          "
        >
          <!-- <label for="chk" style="margin-left: 50px">Get&nbsp;Started</label> -->
          <label style="margin-left: 50px">Get&nbsp;Started</label>
        </button>

        <!-- <input
          type="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
          required
          style="font-weight: bolder"
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          required
          style="font-weight: bolder"
        />

        <button mat-raised-button (click)="validateLogin()" color="accent">
          Login
        </button> -->
      </form>
    </div>
  </div>
</div>
