<div id="background">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>EMBEDDED COURSES LEVEL</h1>
  <div id="box">
    <button id="box1" (click)="basic4()">BASIC</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="intermediate4()">INTERMEDIATE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="advance4()">ADVANCE</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="box1" (click)="expert4()">EXPERT</button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
