<!DOCTYPE html>
<html>
<div class="body">
    <div class="header">
      <h1>T-hub Learning Offerings </h1>
      
      <img id="logo" src="../.././assets/T-Hub Logo.png" alt="Logo">

    <div class="topnav">
      
      <a href="#" class="next round">&#8250;</a>
      <a href="#" class="previous round">&#8249;</a>
      
      <input type="text" placeholder="Search..">
      <a href="#about">About</a>
      <a href="#help">Help</a>
      <A href="#calender">Calender</A>
      <a href="#news">News</a>
      <a  href="#home">Home</a>
    </div>
    </div>
    
     <!-- <div class="vertical-center">
        <button id="btn">SAT</button>
        <div class="container">
        <button id="btn">Qualification</button>
        </div>-->
       
      
</div>

<div class="floating-page">
  <h2>Qualification</h2>

  <button  id="one"(click)="PMQ()"> Project Management Qualification Program </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button id="one1"(click)="TCQ()"> Technical Career Qualification Program </button>

</div>
    
      <!--<footer>
        <img id="footer" src="../.././assets/T-Hub BGSW.png" alt="Logo">
      </footer>-->
   
  


