.header {
  background-image: url('../../assets/imges/ABOUT1.png');
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#a1 {
  top: 10%;
  margin-left: 0.3%;
  background-color: rgb(78, 136, 78);
}

a {
  text-decoration: none;
}
